<footer class="footCon">
    <div class="footSecon">
        <div class="AllRight">
            &copy; All rights reserved. MyXalary2021 
        </div>
        <div class="privacyPolicy">
            Privacy Policy &nbsp; &nbsp; &nbsp; Terms & Condition 
        </div>
        <div class="icons">
            <img src="../../../assets/facebook.png" alt="facebook" class="face
            ">
            <img src="../../../assets/twitter.png" alt="twitter" class="twitter">
            <img src="../../../assets/instagram2.png" alt="" class="instagram-icon">
            <img src="../../../assets/linkedlin-rem.png" alt="" class="linkedlin-icon">
        </div>
</div>
</footer>
