<!-- <div class="Background-modal"></div>

  
<div class="genDiv">
    <div class="textAbt">
        <form action="">
        <div class="textAbout ">
            <p>About</p>
        </div>
        <div class="texAreaHead">
            <div class="heading">
                <app-quilling></app-quilling>
            </div>
            <br>
            <textarea name="" id="" cols="30" rows="10"></textarea>
           
        </div>
        <br>
        <div class="btnAbout">
            <button>Save Edit</button>
        </div>
    </form>
    </div>
</div> -->
  

  

     <!-- <div class="formDiv">
        <form action="" class="formArea">
                <div class="textAbout">
                    <p>About Me</p>
                </div>
     
            <div  class="textArea">
                    <div class="heading"></div>
                <textarea name="" id="" cols="" rows="16">
                
                </textarea>
                    <br>
                <div class="btnAbout">
                    <button>Save Edit</button>
                </div>
            </div>
        </form>
    </div> -->

    <app-quilling></app-quilling>