<!-- <div class="overAll">
    <div class="genCon">
    <main>
      <div class="mainDiv">
      
          
          <form >
              <div class="document">
              <p >Documents</p>
          </div>
              <div class="genDocDiv">
                  <div class="firstPart">
                      
                      <input type="text" placeholder="Document">
                      <input type="text" placeholder="Document">
                      <input type="text" placeholder="Document">
                      <input type="text" placeholder="Document">
                      <input type="text" placeholder="Document">
                  </div>
  
                      <div class="secPart">
                          <div class="file-icon">
                              <img src="../../../assets/file-icon.png" alt=""> UPLOAD FILE
                          </div>
                          <div class="file-icon">
                              <img src="../../../assets/file-icon.png" alt=""> UPLOAD FILE
                          </div>
                          <div class="file-icon">
                              <img src="../../../assets/file-icon.png" alt=""> UPLOAD FILE
                          </div>
                          <div class="file-icon">
                              <img src="../../../assets/file-icon.png" alt=""> UPLOAD FILE
                          </div>
                          <div class="file-icon">
                              <img src="../../../assets/file-icon.png" alt=""> UPLOAD FILE
                          </div>
                  </div>
          
      </div>
      
      <br>
      <div class="btnDocu">
      <button type="submit">Save</button>
      </div>
      </form>
   
  </div>
  </main>
  
  
  </div>
  </div> -->