<main class="genConSearch">
    <select name="" id="" class="searchNumber">
        <option value="">20</option>
        <option value="">30</option>
        <option value="">40</option>
        <option value="">50</option>
    </select>

    <select name="" id="" class="searchOrdely">
        <option value="">Recent</option>
        <option value="">oldest</option>
    </select>

   <div class="searchCon">
    <img src="../../../assets/search-icon.png" alt="search">
    <div class="search-input"> <span>Search</span> </div>
   </div>
   
   <select name="" id="" class="Category">
    <option value="">By Category</option>
    <option value="">Senior Level</option>
    <option value="">Intermediate level</option>
    <option value="">Junior level</option>
   </select>

   <select name="" id="" class="Rating">
    <option value="">By Rating</option>
    <option value="">High</option>
    <option value="">Medium</option>
    <option value="">Low</option>
   </select>

   <select name="" id="" class="tag">
    <option value="">By Tag</option>
    <option value="">Figma</option>
    <option value="">Sketch</option>
    <option value="">Illustrator</option>
    <option value="">Photoshop</option>
    <option value="">InVision</option>
    <option value="">Adobe XD</option>
   </select>

   <button class="filter-button">Filter</button>
</main>