<div class="genCon">
    <div class="majorDiv">
        <form>
            <div class="eduInfo"><p>Education Information</p></div>
            
            <div class="GeninputDiv">
                <div class="firstSet">
                    <div class="firstInput">
                        <input type="text" placeholder="School">
                        <input type="text" placeholder="Start Date">
                    </div>
                    <div class="firstInput">
                        <input type="text" placeholder="School">
                        <input type="text" placeholder="Start Date">
                    </div>
                    <div class="firstInput">
                        <input type="text" placeholder="School">
                        <input type="text" placeholder="Start Date">
                    </div>
                </div>
                <div class="secondSet">
                    <div class="firstInput">
                        <input type="text" placeholder="Course">
                        <input type="text" placeholder="End Date">
                    </div>
                    <div class="firstInput">
                        <input type="text" placeholder="Course">
                        <input type="text" placeholder="End Date">
                    </div>
                    <div class="firstInput">
                        <input type="text" placeholder="Course">
                        <input type="text" placeholder="End Date">
                    </div>
                </div>
            </div>
            <div class="SaveEd">
                <div class="save">Save Edit</div>
                <div class="edit">+ Add</div>
            
            </div>
        </form>
        
    </div>
</div>
