<section class="sideBar">
  <div class="sideBarCon">
    <a >
     <div class="sideBar-icons" routerLinkActive="active">
    <div class="imgDiv">
      <img src="../../../assets/clock.png" alt="">
    </div> 
      <p class="sideBarTest"> My Applications</p>
    </div>
</a>

    <a routerLink="/JobsApplication/my-offers"><div class="sideBar-icons" routerLinkActive="active">
        <div class="imgDiv">
      <img src="../../../assets/booklike.svg" alt="">
        </div>
       <p class="sideBarTest"> My Offers</p>
    </div></a>

    <a routerLink="/JobsApplication/jobs"><div class="sideBar-icons" routerLinkActive="active">
        <div class="imgDiv">
       <img src="../../../assets/Circledgood.png" alt="">
    </div>
       <p class="sideBarTest">Jobs</p> 
    </div></a>

    <a routerLink="/JobsApplication/my-profile"><div class="sideBar-icons" routerLinkActive="active">
        <div class="imgDiv">
      <img src="../../../assets/profile.svg" alt="">
      </div>
      <p class="sideBarTest">My Profile</p>
       
    </div></a>

    <a routerLink="/JobsApplication/my-history"><div class="sideBar-icons" routerLinkActive="active">
        <div class="imgDiv">
      <img src="../../../assets/history.png" alt=""> 
      </div>
      <p class="sideBarTest">My History</p>
      
    </div></a>

    <div class="sideBar-icons" routerLinkActive="active">
        <div class="imgDiv">
       <img src="../../../assets/logout.png" alt="" >
       </div>
       <p class="sideBarTest"> Logout</p>
       
    </div>
  </div>
</section>

