
<main class="signup">
    <div class="newPass-container">
        
        <p class="signup-text">New Password Created</p><br>
        <p class="toAccess">Proceed to the login page to access your account</p>
        
        <form action="">
          <div class="imgConPass">
         <img src="../../../assets/circle-with-good.png" alt="" class="circle">
          <img src="../../../assets/goodMark.png" alt="" class="good">  
        </div>
          <div class="btnCon">
            <button class="ChangePass-btn" routerLink="">Proceed to login</button><br><br>
            </div>
            
        </form>
    </div>
</main>



