*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
   
    
}
.newPass-container{
    width: 30vw;
    background: #FFFFFF;
    opacity: 0.98;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  
}
.signup-text{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #5E5873;

}

.imgConPass{
    margin-top: 80px;
   
}

.good{
    margin-bottom:140px ;
    transform: translateX(-40px);
}

.good img{
    width:114.29px;
    height:88px;
}

.circle{
    margin-bottom: 75px;
    transform: translateX(90px);

}

.circle img{
    Width:175.83px;
    Height:175.83px;
}



.btnCon{
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.ChangePass-btn{
    width: 227px;
    padding: 10px;
    background-color: #440F7C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
   text-align: center;
    margin-top: 3rem;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;

}


.forgetPass{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #D62196;  
}

.toAccess{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #5E5873
}

@media only screen and (max-width: 780px){



    .imgConPass{
        /* background-color: #D62196; */
        margin-top: 80px;
        width: 80vw;
        text-align: center;
       
    }

    .btnCon{
        display: flex;
        width: 30vw;
        align-items: center;
        justify-content: center;
        margin: auto;
       
    }
}
