<div class="ProDeCon">
    
    <div class="majorConPro">
        <div class="genWrite">
        <p class="ProDes"> Product Designer </p> <br>
        <p class="PerIn"> PERSONAL INFORMATION </p> 
    </div>
<form action="" class="theform">
    <div class="row">
       
                </div>

    <div class="row">
        <label> Picture profile</label>
        <div class="file-icon">
        <img src="../../../assets/file-icon.png" alt=""> UPLOAD FILE
        </div>
       
    </div>
   
    <div class="row">
        <label for="">Full name</label>
        <input type="text">
    </div>
    <div class="row">
        <label for="">Phone</label>
        <input type="text">
    </div>
    <div class="row">
        <label for="">Email</label>
        <input type="text">
    </div>
    <div class="row">
        <label for="">Birthday</label>
        <input type="text">
    </div>
    <div class="row">
        <label for="">Address</label>
        <input type="text">
    </div>

    <div class="row">
        <label for="">Gender</label>
        <input type="text">
    </div>

    <div class="row">
        <label for="">Location</label>
        <input type="text">
    </div>
    <div class="row">
        <label for="">Skills</label>
        <input type="text">
    </div>
    <div class="row">
        <label for="">Tool</label>
        <input type="text">
    </div>
    <br>
    <br>
    <div class="save-btn">
        <button>Save Edit</button>
    </div>
    </form>
</div>
</div>



