<div class="genConPro">
<div class="majorConPro">
    <p class=".proInfo">Projects</p>
    <div class="inputGen">
        <div class="inputOne">
            <input type="text" placeholder="Project title">
        </div>
        <div class="inputTwo">
            <input type="text" placeholder="Project link">
        </div>
    </div>
    <div class="textArea">
        <textarea name="" id="" cols="30" rows="10" placeholder="Project description"></textarea>
    </div>
    <br>
    
    <div class="inputGen">
        <div class="inputOne">
            <input type="text" placeholder="Project title">
        </div>
        <div class="inputTwo">
            <input type="text" placeholder="Project link">
        </div>
    </div>
    <div class="textArea">
        <textarea name="" id="" cols="30" rows="10" placeholder="Project description"></textarea>
    </div>
    <div class="SaveEd">
        <div class="save">Save Edit</div>
        <div class="edit">+ Add</div>
    </div>
</div>
</div>
