
<main class="signup">
    <div class="signup-container" >
       
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <p class="signup-text">Change Password</p><br>
            <p class="toAccess">Make sure to create something secure and you can easily remember</p>
            <br><br>
            <label for="" class="label">Password
            <input type="password" class="signup-input" ngModel name="password" required password #password="ngModel" minlength="6">
            <span class="spanText" *ngIf="!password.valid && password.touched">Please enter your password</span>
            
        </label><br><br>
            <label for="" class="label">Confirm Password
            <input type="text" class="signup-input" ngModel name="confirm password" required password #password="ngModel" minlength="6">
            <span class="spanText" *ngIf="!password.valid && password.touched">Please confirm your password</span>
            </label><br><br>
         
            <!-- <label for="" class="label">Token
                <input type="text" class="signup-input" ngModel name="token" required token #token="ngModel">
                <span class="spanText" *ngIf="!password.valid && password.touched">Please confirm your password</span>
                </label><br><br> -->

            <div class="btnCon">
            <button class="ChangePass-btn" routerLink="/NewPassword">Save Password</button><br><br>
            </div>
            
        </form>
    </div>
</main>


