*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backreset{
    color: #5E5873;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #5E5873;
   
}

.backconReset{
    transform: translateX(-56.5vh);
   margin-bottom: 500px;
}

.backreset img{
    width:
    6px;
    height:
    12px;
}

.signup{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.newPass-container{
    width: 30vw;
    background: #FFFFFF;
    opacity: 0.98;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 190px;
    z-index: -1;
   
}
.signup-text{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #5E5873;

}

.imgConPass{
    margin-top: 80px;
   
}



.good{
    margin-bottom:140px ;
    transform: translateX(-36px);
}

.good img{
    width:114.29px;
    height:88px;
}

.circle{
    margin-bottom: 75px;
    transform: translateX(86px);

}

.circle img{
    width:175.83px;
    height:175.83px;
}






.resetCon{
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content: center;
   
}



.resetPass-btn {
    width:220px;
    padding: 10px;
    background-color: #440F7C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  

  
}



.account{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;



color: #5E5873
}

.noAccount{
    color: #D62196;
}

.forgetPass{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #D62196;  
}

.toAccess{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #5E5873
}

.backconReset a{
    text-decoration: none;
}

@media only screen and (max-width: 780px){



    .imgConPass{
        /* background-color: #D62196; */
        margin-top: 80px;
        width: 80vw;
        text-align: center;
       
    }

    .resetCon{
        display: flex;
        width: 30vw;
        align-items: center;
        justify-content: center;
        margin: auto;
       
    }
}
