
<main class="signup">
    <div class="backconReset">
        <a routerLink="/forgotPassword"><h3 class="backreset"> <img src="../../../assets/Vector (4).png" alt=""> &nbsp;<span>Back</span> </h3></a>
        </div>
    <br>
        <div class="newPass-container">
            <p class="signup-text">Password Reset Link Sent</p><br>
            <p class="toAccess">Check your email for the password reset link</p>
            
            <form action="">
              
                <div class="imgConPass">
                    <img src="../../../assets/circle-with-good.png" alt="" class="circle">
                     <img src="../../../assets/goodMark.png" alt="" class="good">  
                </div>
             
                   <div class="resetCon">
                       <button type="submit" class="resetPass-btn" >Proceed to login</button> <br><br>
                    </div>
     
            </form>
        </div>
    
    
    
</main>
