<!-- 
<main class="signup">
    <div class="backcon">
        <a routerLink="/JobsApplication/my-profile"><h3 class="back"> <img src="../../../assets/Vector (4).png" alt=""> &nbsp;<span>Back</span> </h3></a>
        </div>
    <br>
        <div class="signup-container">
            
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <p class="signup-text">Are you sure you want to logout?</p><br>
                <!-- <p class="toAccess">Enter the email address associated with your account</p> -->
            <br><br>
        
                <div class="btnCon">
                <button type="submit" class="forgetPass-btn"  routerLink="/" [disabled]="!f.valid">Yes</button><br><br>
                </div>
     
            </form>
        </div>
    
    
    
</main> -->