<nav class="navBar">
    <div class="logo">
        <img src="../../../assets/nav-logo.png" alt="" class="navbar-img">
    </div>
    <div class="links">
       <a>Home</a> 
       <a>About Us</a> 
       <a > Features <img src="../../../assets/dropDown.png" alt="" class="dropDown"></a> 
       <a style="color: red;">Jobs</a> 
       <a>LMS</a> 
       <a >How it works<img src="../../../assets/dropDown.png" alt="" class="dropDown"></a> 
       <a>Blog</a> 
       <a>FAQ</a>
       <a>Contact Us</a>  
    </div>
    <div class="getStarted">
        <p>Get Started</p>
    </div>
</nav>
