<!-- <div class="application">
    <div class="application-tests">
        <p>My Applications</p>
    </div>
    <div class="logout"> <img src="../../../assets/logout-icon.png" alt="logout" > Logout</div>
</div> -->
<!-- <app-heading-application></app-heading-application> -->
<section class="majorCon">
    <div class="firstCon">
        
        <div class="genPro">
                <div class="product-icon">
                    <img src="../../../assets/productManager.png" alt="">
                </div>
            <div class="Job-role">
                <div >
                    <p class="ABC">ABC company</p>
                </div>
                <div class="senior">
                    <p>Senior Level Product Manager</p>
                </div>
            </div>
        </div>
  

    <div class="location-price">
        <div class="location">
            <img src="../../../assets/location-icon.png" alt="">
            United Arab Emirate
        </div >
        <p class="location-text"> <span style="font-size:12px ;">$ </span> #1,000,000.00</p>
    </div>
    <div class="divText">
        <div class="divTop">
            <p class="testApp">Figma</p>
            <p class="testApp">Sketch</p> 
            <p class="testApp">Adobe XD</p>
        </div>
        <div class=" divBottom">
            <p class="testApp">Illustrator</p>
            <p class="testApp">Photoshop</p>
            <p class="testApp">Invision</p>
        </div>
    </div>

        <div>
            <p class="days"> 25 days ago</p>
        </div>
    </div>
    <!--  -->
    <div class="firstCon">
        <div class="genPro">
        <div class="product-icon">
            <img src="../../../assets/productManager2.png" alt="">
        </div>
    <div class="Job-role">
        <div >
            <p class="ABC">ABC company</p>
        </div>
        <div class="senior">
            <p>Senior Level Product Manager</p>
        </div>
        </div>
    </div>


<div class="location-price">
    <div class="location">
        <img src="../../../assets/location-icon.png" alt="">
        United Arab Emirate
    </div >
    <p class="location-text"> <span style="font-size:12px ;">$ </span> #1,000,000.00</p>
</div>
<div class="divText">
    <div class="divTop">
        <p class="testApp">Figma</p>
        <p class="testApp">Sketch</p> 
        <p class="testApp">Adobe XD</p>
    </div>
    <div class=" divBottom">
        <p class="testApp">Illustrator</p>
        <p class="testApp">Photoshop</p>
        <p class="testApp">Invision</p>
    </div>
</div>

    <div>
        <p class="days"> 25 days ago</p>
    </div>
</div>
<!--  -->
<div class="firstCon">
    <div class="genPro">
    <div class="product-icon">
        <img src="../../../assets/productManager3.png" alt="">
    </div>
<div class="Job-role">
    <div >
        <p class="ABC">ABC company</p>
    </div>
    <div class="senior">
        <p>Senior Level Product Manager</p>
    </div>
    </div>
</div>


<div class="location-price">
<div class="location">
    <img src="../../../assets/location-icon.png" alt="">
    United Arab Emirate
</div >
<p class="location-text"> <span style="font-size:12px ;">$ </span> #1,000,000.00</p>
</div>
<div class="divText">
    <div class="divTop">
        <p class="testApp">Figma</p>
        <p class="testApp">Sketch</p> 
        <p class="testApp">Adobe XD</p>
    </div>
    <div class=" divBottom">
        <p class="testApp">Illustrator</p>
        <p class="testApp">Photoshop</p>
        <p class="testApp">Invision</p>
    </div>
</div>

<div>
    <p class="days"> 25 days ago</p>
</div>
</div>
<!--  -->
<div class="firstCon">
    <div class="genPro">
    <div class="product-icon">
        <img src="../../../assets/productManager4.png" alt="">
    </div>
<div class="Job-role">
    <div >
        <p class="ABC">ABC company</p>
    </div>
    <div class="senior">
        <p>Senior Level Product Manager</p>
    </div>
    </div>
</div>


<div class="location-price">
<div class="location">
    <img src="../../../assets/location-icon.png" alt="">
    United Arab Emirate
</div >
<p class="location-text"> <span style="font-size:12px ;">$ </span> #1,000,000.00</p>
</div>
<div class="divText">
    <div class="divTop">
        <p class="testApp">Figma</p>
        <p class="testApp">Sketch</p> 
        <p class="testApp">Adobe XD</p>
    </div>
    <div class=" divBottom">
        <p class="testApp">Illustrator</p>
        <p class="testApp">Photoshop</p>
        <p class="testApp">Invision</p>
    </div>
</div>

<div>
    <p class="days"> 25 days ago</p>
</div>
</div>
<!--  -->
<div class="firstCon">
    <div class="genPro">
    <div class="product-icon">
        <img src="../../../assets/productManager5.png" alt="">
    </div>
<div class="Job-role">
    <div >
        <p class="ABC">ABC company</p>
    </div>
    <div class="senior">
        <p>Senior Level Product Manager</p>
    </div>
    </div>
</div>


<div class="location-price">
<div class="location">
    <img src="../../../assets/location-icon.png" alt="">
    United Arab Emirate
</div >
<p class="location-text"> <span style="font-size:12px ;">$ </span> #1,000,000.00</p>
</div>
<div class="divText">
    <div class="divTop">
        <p class="testApp">Figma</p>
        <p class="testApp">Sketch</p> 
        <p class="testApp">Adobe XD</p>
    </div>
    <div class=" divBottom">
        <p class="testApp">Illustrator</p>
        <p class="testApp">Photoshop</p>
        <p class="testApp">Invision</p>
    </div>
</div>

<div>
    <p class="days"> 25 days ago</p>
</div>
</div>
<!--  -->
<div class="firstCon">
    <div class="genPro">
    <div class="product-icon">
        <img src="../../../assets/productManager6.png" alt="">
    </div>
<div class="Job-role">
    <div >
        <p class="ABC">ABC company</p>
    </div>
    <div class="senior">
        <p>Senior Level Product Manager</p>
    </div>
    </div>
</div>


<div class="location-price">
<div class="location">
    <img src="../../../assets/location-icon.png" alt="">
    United Arab Emirate
</div >
<p class="location-text"> <span style="font-size:12px ;">$ </span> #1,000,000.00</p>
</div>
<div class="divText">
    <div class="divTop">
        <p class="testApp">Figma</p>
        <p class="testApp">Sketch</p> 
        <p class="testApp">Adobe XD</p>
    </div>
    <div class=" divBottom">
        <p class="testApp">Illustrator</p>
        <p class="testApp">Photoshop</p>
        <p class="testApp">Invision</p>
    </div>
</div>

<div>
    <p class="days"> 25 days ago</p>
</div>
</div>
<!--  -->
<div class="firstCon">
    <div class="genPro">
    <div class="product-icon">
        <img src="../../../assets/productManager7.png" alt="">
    </div>
<div class="Job-role">
    <div >
        <p class="ABC">ABC company</p>
    </div>
    <div class="senior">
        <p>Senior Level Product Manager</p>
    </div>
    </div>
</div>


<div class="location-price">
<div class="location">
    <img src="../../../assets/location-icon.png" alt="">
    United Arab Emirate
</div >
<p class="location-text"> <span style="font-size:12px ;">$ </span> #1,000,000.00</p>
</div>
<div class="divText">
    <div class="divTop">
        <p class="testApp">Figma</p>
        <p class="testApp">Sketch</p> 
        <p class="testApp">Adobe XD</p>
    </div>
    <div class=" divBottom">
        <p class="testApp">Illustrator</p>
        <p class="testApp">Photoshop</p>
        <p class="testApp">Invision</p>
    </div>
</div>

<div>
    <p class="days"> 25 days ago</p>
</div>
</div>
<!--  -->
<div class="firstCon">
    <div class="genPro">
    <div class="product-icon">
        <img src="../../../assets/productManager8.png" alt="">
    </div>
<div class="Job-role">
    <div >
        <p class="ABC">ABC company</p>
    </div>
    <div class="senior">
        <p>Senior Level Product Manager</p>
    </div>
    </div>
</div>


<div class="location-price">
<div class="location">
    <img src="../../../assets/location-icon.png" alt="">
    United Arab Emirate
</div >
<p class="location-text"> <span style="font-size:12px ;">$ </span> #1,000,000.00</p>
</div>
<div class="divText">
    <div class="divTop">
        <p class="testApp">Figma</p>
        <p class="testApp">Sketch</p> 
        <p class="testApp">Adobe XD</p>
    </div>
    <div class=" divBottom">
        <p class="testApp">Illustrator</p>
        <p class="testApp">Photoshop</p>
        <p class="testApp">Invision</p>
    </div>
</div>

<div>
    <p class="days"> 25 days ago</p>
</div>
</div>
<!--  -->
<div class="firstCon">
    <div class="genPro">
    <div class="product-icon">
        <img src="../../../assets/productManager9.png" alt="">
    </div>
<div class="Job-role">
    <div >
        <p class="ABC">ABC company</p>
    </div>
    <div class="senior">
        <p>Senior Level Product Manager</p>
    </div>
    </div>
</div>


<div class="location-price">
<div class="location">
    <img src="../../../assets/location-icon.png" alt="">
    United Arab Emirate
</div >
<p class="location-text"> <span style="font-size:12px ;">$ </span> #1,000,000.00</p>
</div>
<div class="divText">
    <div class="divTop">
        <p class="testApp">Figma</p>
        <p class="testApp">Sketch</p> 
        <p class="testApp">Adobe XD</p>
    </div>
    <div class=" divBottom">
        <p class="testApp">Illustrator</p>
        <p class="testApp">Photoshop</p>
        <p class="testApp">Invision</p>
    </div>
</div>

<div>
    <p class="days"> 25 days ago</p>
</div>
</div>
<!--  -->
<div class="firstCon">
    <div class="genPro">
    <div class="product-icon">
        <img src="../../../assets/productManager10.png" alt="">
    </div>
<div class="Job-role">
    <div >
        <p class="ABC">ABC company</p>
    </div>
    <div class="senior">
        <p>Senior Level Product Manager</p>
    </div>
    </div>
</div>


<div class="location-price">
<div class="location">
    <img src="../../../assets/location-icon.png" alt="">
    United Arab Emirate
</div >
<p class="location-text"> <span style="font-size:12px ;">$ </span> #1,000,000.00</p>
</div>
<div class="divText">
    <div class="divTop">
        <p class="testApp">Figma</p>
        <p class="testApp">Sketch</p> 
        <p class="testApp">Adobe XD</p>
    </div>
    <div class=" divBottom">
        <p class="testApp">Illustrator</p>
        <p class="testApp">Photoshop</p>
        <p class="testApp">Invision</p>
    </div>
</div>

<div>
    <p class="days"> 25 days ago</p>
</div>
</div>
<!--  -->
<div class="firstCon">
    <div class="genPro">
    <div class="product-icon">
        <img src="../../../assets/productManager7.png" alt="">
    </div>
<div class="Job-role">
    <div >
        <p class="ABC">ABC company</p>
    </div>
    <div class="senior">
        <p>Senior Level Product Manager</p>
    </div>
    </div>
</div>


<div class="location-price">
<div class="location">
    <img src="../../../assets/location-icon.png" alt="">
    United Arab Emirate
</div >
<p class="location-text"> <span style="font-size:12px ;">$ </span> #1,000,000.00</p>
</div>
<div class="divText">
    <div class="divTop">
        <p class="testApp">Figma</p>
        <p class="testApp">Sketch</p> 
        <p class="testApp">Adobe XD</p>
    </div>
    <div class=" divBottom">
        <p class="testApp">Illustrator</p>
        <p class="testApp">Photoshop</p>
        <p class="testApp">Invision</p>
    </div>
</div>

<div>
    <p class="days"> 25 days ago</p>
</div>
</div>

</section>

